html,body{margin: 0;padding: 0;}

@keyframes waitanimate{
    0%{transform:rotate(0deg);} 
    12.5%{transform:rotate(45deg);} 
    25%{transform:rotate(90deg);} 
    37.5%{transform:rotate(135deg);}
    50%{transform:rotate(180deg);} 
    62.5%{transform:rotate(225deg);}
    75%{transform:rotate(270deg);} 
    87.5%{transform:rotate(315deg);}
    100%{transform:rotate(360deg);}
}
.wait{margin-top: 100px;text-align: center;}
.wait img{height: 100px;animation:waitanimate 2s infinite;}
.instruction{text-align: center;font-size: 16px;margin-top: 24px;}

.hint {
	font-family: PingFangSC;
	font-size: 20px;
	font-weight: normal;
	text-align: center;
	color: #333333;
    margin-top: 100px;
}

.info{margin-top: 36px;}
.info p {padding: 0 24px;margin: 24px 0 0 0;}
.info p input{
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 36px;
    line-height: 36px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 10px;
    font-size: 14px;
}
.info p input.error{border-color: red;}
.info p label{display: none;font-size: 14px;}
.info p label.error{color: red;display: inline;}

.btns{margin-top: 48px;text-align: center;}
.btns > p{margin:0 0 20px 0;padding:0 24px;}
.btns > p button{border-radius: 4px;background-color: #20b0f7;color: #fff;font-size: 16px;font-family: PingFangSC;height: 36px;line-height: 36px;width: 100%;border: none;padding: 0;}

.hide{display: none;}