<!DOCTYPE html>
<html>
<head lang="en">
    <meta content-type="text/html" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title>保面试测评</title>
    <link href="/css/bms/entry1.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="wait">
        <img src="../../images/bms/wait.png" />
    </div>
    <div class="instruction">正在加载页面，请耐心等待...</div>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/config.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript" src="/js/bms/entry1.js"></script>
</body>
</html>