<!DOCTYPE html>
<html>
<head lang="en">
    <meta content-type="text/html" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title>保面试测评</title>
    <link href="/css/bms/entry.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="hint">请填写您的基本信息</div>
    <div class="info">
        <p>
            <input type="text" id="txt_Name" placeholder="姓名" />
            <label id="lbl_Name" class=""></label>
        </p>
        <p>
            <input type="text" id="txt_Mobile" placeholder="手机号" />
            <label id="lbl_Mobile" class=""></label>
        </p>
        <p>
            <input type="text" id="txt_Remark" placeholder="测评密码" />
            <label id="lbl_Remark" class=""></label>
        </p>
    </div>
    <div class="btns">
        <p><button id="btn_Start">开始测评</button></p>
    </div>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/config.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript" src="/js/bms/entry.js"></script>
</body>
</html>