<!DOCTYPE html>
<html>
<head lang="en">
    <meta content-type="text/html" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title>保面试测评</title>
    <link href="/css/bms/entry2.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="hint">请选择您要参加的测试类型</div>
    <div class="btns">
        <p><button id="btn_technique">技术型</button></p>
        <p><button id="btn_sales">销售型</button></p>
    </div>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/config.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript" src="/js/bms/entry2.js"></script>
</body>
</html>